html {
    margin: 10px 30px;
}

body {
    background-color: #F5F5F5;
    color: #F5F5F5;
    font-family: 'Helvetica';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#background {
    background: linear-gradient(to bottom right, #5080b0, #90c0f0);
    border-radius: 100px;
    height: 850px;
    margin: 0 auto;
    position: absolute;
    transform: rotate(-15deg);
    top: -200px;
    width: 90%;
    z-index: -1;
}

menu {
    border: 4px solid #F5F5F5;
    border-radius: 10px;
    margin: 5px 0 20px 0;
    padding: 5px 10px;
    width: 92%;
}

menu li {
    display: inline-block;
}

menu li a, 
menu li a:link, 
menu li a:visited, 
menu li a:active {
    color: #F5F5F5;
    padding: 0 0 0 4px;
    text-decoration: none;
}

menu li a:hover {
    color: #C5C5C5
}

menu li:not(:first-child) a {
    border-left: 1px solid #F5F5F5;
}

div.footer {
    border-top: 1px solid black;
    color: black;
    font-weight: bold;
    margin-top: 40px;
    padding: 30px;
    text-align: center;
}

h3 {
    color: #FFD0DB;
    margin: 0;
    transform: skewX(-30deg);
}

h1 {
    text-align: center;
}

h4 {
    margin: 5px;
}

div.content {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0 30px;
}

@media screen and (max-width: 1365px) {
    div.content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1220px) {
    #background {
        transform: rotate(-5deg);
    }
}

div.element {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
    color: #06287e;
    margin: 10px;
    padding: 10px;
}

div.element img {
    width: 50%;
}

div.element img.about_me {
    margin-left: 5px;
    border: 2px solid white;
    width: 250px;
}

div.element td {
    border-bottom: 1px solid white;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

div.links a, input.special {
    background: radial-gradient(#007500, #00ff00);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 4px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 7px red;
}

@media screen and (max-width: 775px) {
    div.links a {
        display: block;
        width: 210px;
    }
    
    html {
    margin: 10px 0;
    }
    
    #background {
        transform: none;
        width: 100%;
    }
}

div.links a:hover {
    background: radial-gradient(#00ff00, #00ff00);
}

div.links a.special, input.special {
    background: radial-gradient(#CC6600, #FFFF00);
}

div.links a.special:hover {
    background: radial-gradient(#FFFF00, #FFFF00);
}

form[name="feedback"], div.feedback {
    background-color: #008000;
    bottom: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.3);
    display: none;
    right: 30px;
    display: none;
    padding: 0 10px;
    position: fixed;
    transition-property: opacity;
    transition-duration: 3s;
    width: 300px;
    z-index: 100;
}

div.feedback {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 150px;
    z-index: 99;
}

div.feedback:hover, div.feedback:active {
    cursor: pointer;
}

form[name="feedback"] textarea {
    height: 100px;
    resize: none;
    width: 95%;
}

form[name="feedback"] input[type="submit"] {
    background-color: #00CC00;
    border: none;
    border-radius: 5px;
    color: #F5F5F5;
    font-size: 20px;
    padding: 3px 8px;
}

form[name="feedback"] input[type="submit"]:hover {
    background-color: #55DD55;
}

form[name="feedback"] input[type="submit"]:active {
    background-color: #00AA00;
}

div.purchase {
    display: flex;
    justify-content: center;
}

.dark_blue_font {
    color: #06287e;
}

.green_font {
    color: #008000;
}

.center {
    text-align: center;
}

.contacts {
    border-top: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
}

.contacts p {
    margin: 5px 0;
}

.date {
    font-size: 12px;
}

.right {
    padding: 0 40px;
    text-align: right;
}

.paginator {
    background-color: #F5F5F5;
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}